.header {
    background: rgba(2, 18, 32, 0.74);
    height: 200px;
    border-bottom: solid;
    border-color: rgb(3, 7, 27);
}

.title {
    text-align: center;
    color: white;
    padding-top: 40px;
}

.desc{
    text-align: center;
    color: white;
    padding-top: 10px;
}